.Header{
    text-align: center;
    background-color: bisque;
}

/* navigation bar */
nav{
    position: relative;
    font-size: 17px;
    background-color: #0f1011;
    width: 100%;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}


.pages{
    color:antiquewhite
}

.pages:hover{
color: rgb(206, 127, 63);
}


/* Profile Image */
.profile{
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2px;
}

.profile:hover {
    box-shadow: 0 0 2px 1px rgba(24, 5, 237, 0.5);
  }



.about{
    text-align: center;
    background-color: burlywood;

}

.aboutInfo{
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
}

.text{
    flex-direction: column;
}

li{
    /* text-align: ; */
}

/* resume part */
.resume{
    color: rgba(6, 109, 245, 0.5);
}

.info{
    text-align: left;
    width: 75%;
} 

.details{
    text-align: right;
    width:25%;
}

.text{
    color: black;
}

.btn{
    background: #963f01;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

a.btn:hover{
    color:rgb(255, 111, 0);
}

  /* Body */
body{
    background-color: rgb(236, 192, 135);
}

/* The link */
.contact{
    text-align: center;
    background-color: rgb(255, 229, 208);
}

a{
    color: rgb(9, 194, 240);
}
a:hover{
    color: rgb(5, 92, 255);
}

a:active{
    color: rgb(99, 99, 234);
}

.foot{
    color: #dddddd;
    background-color: #0f1011;
}

